# BACKEND ENV
PORT=3001
BASE_URL=http://localhost
MONGO_URI=MONGO_URI
JWT_ACCESS_EXP=15m
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379
NODE_ENV=development
JWT_SECRET=SECRET
NODE_ENV=development

# Frontend Env:
VITE_API_URL=http://localhost:3001/api
VITE_PUBLIC_URL=http://localhost:3001


