# Node
node_modules/
dist/
build/

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Coverage
coverage/